<form>
  <div class="form-group">
    <label class="col-form-label">Nombre:</label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label class="col-form-label">Apellido:</label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label class="col-form-label">Email:</label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label class="col-form-label">Repita email:</label>
    <input type="text" class="form-control">
  </div>
  <button type="button" class="btn btn-primary">Guardar</button>
</form>
